<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="/product2/save" method="post"> 
        <input name="name" th:value="${formProduct.name}">
        <input name="price" th:value="${formProduct.price}">
        <button>Save</button>
    </form>

    <h3>Form Product</h3>
    <ul>
        <li th:text="${formProduct.name}"></li>
        <li th:text="${formProduct.price}"></li>
    </ul>

    <h3>Saved Product</h3>
<ul th:if="${savedProduct != null}">
    <li th:text="${savedProduct.name}"></li>
    <li th:text="${savedProduct.price}"></li>
</ul>

    <h3>Danh sách Items</h3>
    <ul>
        <th:block th:each="item : ${items}">
            <li th:text="${item.name}"></li>
            <li th:text="${item.price}"></li>
        </th:block>
    </ul>
</body>
</html>